@import url("//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css");
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
/* Have fun adding your style here :) - PS: At all times this file should contain a comment or a rule, otherwise opera might act buggy :( */

/* General Custom CSS */


.visual-text-center{
	text-align: center;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    padding: 20px; 
    font-size: 2.2em;
    line-height: 1.4em;
    font-weight: bold;
    font-family: Nanum Myeongjo;
    width: 550px;
	margin:0 20px;
}

.visual-text-center b{
	color:#cfeaff;
}



@media only screen and (min-width: 768px) {
  /* Add your Desktop Styles here */

}
/*
Desktop Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the desktop view of your site */

@media only screen and (min-width: 768px) {
  /* Add your Desktop Styles here */
#main_section_2 #kboard-default-latest{
	height:285px !important; 
}
}



/*
Mobile Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the Mobile and Tablet Portrait view */

@media only screen and (max-width: 767px) {
  /* Add your Mobile Styles here */
	#mainvisual_li3 .ls-bg.ls-preloaded{
		left: -40%;
	}
}





















/* header Custom Style*/
nav.main_menu{
	width:calc(100% - 226px);
	max-width:800px;
    position: relative;
    float: right;
}

nav.main_menu > div.avia-menu, div.main_menu > ul#avia-menu{
	width:100%;
}

div.avia-menu > ul#avia-menu > li{
	width:20%;
}

nav.main_menu #avia-menu > li > a{
	text-align:center;
}

nav.main_menu #avia-menu > li > a > span.avia-menu-text{
	font-family: 'NanumSquare';
	font-size:1.3em;
	color:#2b2117;
}

nav.main_menu #avia-menu > li > a > span.avia-menu-fx{
	background-color:#2b2117;
}


@media only screen and (min-width: 768px) {

}

@media only screen and (max-width: 767px) {

}
/* header Custom Style*/



/* Index Custom Style*/

#mainslide_li_1 > .ls-l{
	left:0  !important;
}

.visual_test{
	font-size:12px;
	display: table;
    width: 100%;
    height: 100%;
}

.visual_test *{
	white-space:initial;
}

.visual_text_warpper{
	font-size:inherit;
    display: table-cell;
    vertical-align: middle;
}

.visual_sub_title{
	font-size:2.25em;
	font-family:'Nanum Myeongjo';
	color:#fff;
	letter-spacing:-0.05em;
	text-shadow: 0px 0px 3px #2F1B1B;
	display:table;
    margin: 0 auto;
    background: #0068b7;
    padding: 15px 10px 10px 10px;
	-webkit-box-shadow: 5px 5px 8px -1px rgba(0,0,0,0.19);
	-moz-box-shadow: 5px 5px 8px -1px rgba(0,0,0,0.19);
	box-shadow: 5px 5px 8px -1px rgba(0,0,0,0.19);
	margin-bottom: 30px;
	text-align:center;
}

.visual_title{
	font-size:3.75em;
	color:#fff;
	font-family:'Nanum Myeongjo';
	letter-spacing:-0.04em;
	text-shadow: 0px 0px 5px #2F1B1B;
	text-align:center;
}

.visual_title strong{
	color:#86c2f0;
}

.visual_desc{
	font-size:1.65em;
	font-family:'Nanum Barun Gothic';
	color:#606468;
	line-height:28px;
	letter-spacing:-0.04em;
	text-align:center;
    margin-top: 28px;
}

#main_section_1 .av-special-heading{
	font-family:'Nanum Barun Gothic';
	color:#fff;
	letter-spacing:-0.05em;
}

#main_section_1 .av-special-heading .av-subheading{
	opacity:1;
    margin-top: 15px;
}

#main_section_2 .avia-builder-el-last.avia-builder-el-6{
	border:1px solid #d7d7d7;
}

#main_section_2 .av-special-heading{
	position:absolute;
	top:0;
}

#main_section_2 .avia-builder-el-last.avia-builder-el-6 .av-special-heading-tag{
	font-family: 'NanumSquare';
	letter-spacing:-0.025em;
	font-weight:bold;
	color:#6a6a6a;
    padding: 15px;
    background: #f5f6f6;
}

#main_section_2 .avia-image-container{
	width: 33.333%;
    box-sizing: border-box;
    float: left;
    clear: inherit;
    padding: 0 10px;
}

#main_section_2 .avia-image-container .av-image-caption-overlay{
    top: 100px;
}

#main_section_2 .avia-image-container .av-image-caption-overlay .av-image-caption-overlay-center{
	padding:0 !important;
}

#main_section_2 .avia-image-container .av-image-caption-overlay .av-image-caption-overlay-center p{
	font-family: 'NanumSquare';
	letter-spacing:-0.025em;
	font-weight:bold;
	color:#222222;
}



.tnb{position:relative; z-index:999; background-color:#163a71;display:table; width:100%;padding: 2px 0;}
.tnb nav{max-width:1200px; width:100%; margin:0 auto;}
.tnb nav ul{margin:0; float:right;}
.tnb nav ul li{display:inline-block;}
.tnb nav ul li:after{content:'|';color:#45618d;margin:0 5px;}
.tnb nav ul li:last-child:after{display:none;}
.tnb nav ul li a{color:#ffffff; letter-spacing:-0.025em;font-size:13px;}
.tnb nav ul li a img{margin-right:5px;}


@media only screen and (min-width: 769px) and (max-width:992px) {

	.visual_sub_title{
		font-size:2.2em;
	}

	.visual_title{
		font-size:3em;
	}

	.visual_desc{
		font-size:1.5em;
		font-weight:normal;
	}	
	
	#main_section_2 .avia-builder-el-last.avia-builder-el-6 .av-special-heading-tag{
	    font-size: 0.8em !important;
	}

}

@media only screen and (min-width: 768px) {

}

@media only screen and (max-width: 767px) {
	.visual_sub_title{
		font-size: 1.4em;
		margin-bottom: 10px;
		line-height: 10px;
	}

	.visual_title{
		font-size: 2.5em;
		line-height: 37px;
	}

	.visual_desc{
	    font-size: 1.3em;
		margin-top: 4px;
		line-height: 25px;
		box-sizing:border-box;
		padding:0 10px;
	}	

	#main_section_2 .avia-builder-el-last.avia-builder-el-6 .av-special-heading-tag{
		padding:10px 5px;
	}

	#main_section_2 .av-special-heading{
		position:relative;
	    margin-bottom: 30px;
	}

	#main_section_2 .avia-image-container .av-image-caption-overlay{
	    top: 80%;
	    font-size: 0.9em;
	}

	#main_section_2 .avia-builder-el-last.avia-builder-el-6{
		padding-bottom:60px;
	}

	#mainslide_li_1 .ls-bg{
		margin-left: -160% !important;
	}

	#main_section_2 .avia-builder-el-last.avia-builder-el-6 .av-special-heading-tag{
	    font-size: 0.7em !important;
	}

	#top #main .avia-section .template-page{
		padding:15px 0 !important;
	}

	.tnb nav{
		display: table;
	}

	.tnb nav ul{
		margin: 0 auto;
		float: none;
		display: table;
	}
}
/* Index Custom Style*/



#mikl_regi_02, #mikl_regi_01{
	display:none;
}